/* background-position */

div {
  height: 300px;
  color: white;
  border: 2px solid red;
}

.big-image {
  background: url("./big.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.small-image {
  background: url("./small.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-position: left;
  background-position: right;
  background-position: bottom;
  background-position: top;
  background-position: 20% 50%;
}
.folder-img {
  background: url("./images/folder-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
