div {
  border: 3px solid red;
  background: yellow;
  margin-top: 40px;
}
.one {
  background: blue;
  color: white;
  position: static;
}
.two {
  background: green;
  color: white;
}
.special {
  background: pink;
  font-size: 20px;
  color: #222;
}
