/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");

/* body {
  font-family: "Roboto", sans-serif;
}
h1,
h2 {
  font-family: "Dancing Script", cursive;
} */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
